<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--jaisa hi submit btn daba form post ke roop mei jana aur /posts route mei jana -->
    <form method="post" action="/posts" >
        <input placeholder="enter username" name="username">
        <input placeholder="enter content" name="content">
<br>
        <button>Submit</button>

    </form>
</body>
</html>