<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Quora Posts by Id</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1> YOUR POST IN DETAIL</h1>
    <p>
       Your Id was <%= ans.id %>
    </p>
    <div>
        <h3 class="user">
            <%= ans.username %>
        </h3>
        <h4>
            <%= ans.content %>
        </h4>
    </div>


</body>

</html>